<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Index</title>

</head>
<body>
  <div id="content-wrapper" class="content-wrapper">
    <section class="content">
    <div class="row">
      <div class="col-md-2">

      </div>
      <div class="col-md-8">
        <div class="form-group">

            <div id="panel-1" class="panel panel-default">
              <div class="panel-heading"><h4>QËLLIMI I NJOFTIMIT</h4>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-1"><input name="fillimi_sherbimit" type="checkbox"></div>
                  <div class="col-md-3"><label>Fillimi i shërbimit</label></div>
                </div><hr>
                <div class="row">
                  <div class="col-md-1"><input name="shtim_sherbimit" type="checkbox"></div>
                  <div class="col-md-3"><label>Shtim shërbimi</label></div>
                </div><hr>
                <div class="row">
                  <div class="col-md-1"><input name="heqje_sherbimit" type="checkbox"></div>
                  <div class="col-md-3"><label>Heqje shërbimi</label></div>
                </div>
              </div>
            </div>
            <div id="panel-2" class="panel panel-default">
              <div class="panel-heading">
                <h4>TË DHËNAT PËR NDËRMARRËSIN</h4>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-1"><label>1.1</label></div>
                  <div class="col-md-4"><label>Emri i Ndërmarrësit (Entiteti)</label></div>
                  <div class="col-md-7"><input name="emri_nderrmarresit" type="text" class="form-control"></div>
                </div><hr>

                <div class="row">
                  <div class="col-md-1"><label>1.2</label></div>
                  <div class="col-md-4"><label>Numri i Regjistrimit të Biznesit</label></div>
                  <div class="col-md-7"><input name="nr_regjistrimit_biznesit" type="text" class="form-control"></div>
                </div><hr>
                <div class="row">
                  <div class="col-md-1"><label>1.3</label></div>
                  <div class="col-md-4"><label>Numri fiskal</label></div>
                  <div class="col-md-7"><input name="nr_fiskal" type="text" class="form-control"></div>
                </div><hr>
                <div class="row">
                  <div class="col-md-1"><label>1.4</label></div>
                  <div class="col-md-4"><label>Adresa</label></div>
                  <div class="col-md-7"><input name="adresa_nderrmarresit" type="text" class="form-control"></div>
                </div><hr>
                <div class="row">
                  <div class="col-md-1"><label>1.5</label></div>
                  <div class="col-md-4"><label>Numri i Telefonit</label></div>
                  <div class="col-md-7"><input name="telefoni_nderrmarresit" type="text" class="form-control"></div>
                </div><hr>
                <div class="row">
                  <div class="col-md-1"><label>1.6</label></div>
                  <div class="col-md-4"><label>Numri i Faksit</label></div>
                  <div class="col-md-7"><input name="faksi_nderrmarresit" type="text" class="form-control"></div>
                </div><hr>
                <div class="row">
                  <div class="col-md-1"><label>1.7</label></div>
                  <div class="col-md-4"><label>E-mail adresa</label></div>
                  <div class="col-md-7"><input name="nderrmarresit_email" type="text" class="form-control"></div>
                </div>
              </div>
            </div>
            <div id="panel-3" class="panel panel-default">
              <div class="panel-heading"><h4>TË DHËNAT PËR ZYRTARIN LIGJËRISHT TË PËRGJEGJËSHËM</h4>
                  
              </div>
              <div class="panel-body">

                <div class="row">
                  <div class="col-md-1"><label>2.1</label></div>
                  <div class="col-md-4"><label>Emri i zyrtarit</label></div>
                  <div class="col-md-7"><input name="emri_zyrtarit" type="text" class="form-control"></div>
                </div><hr>
                <div class="row">
                  <div class="col-md-1"><label>2.2</label></div>
                  <div class="col-md-4"><label>Adresa</label></div>
                  <div class="col-md-7"><input name="adresa_zyrtarit" type="text" class="form-control"></div>
                </div><hr>
                <div class="row">
                  <div class="col-md-1"><label>2.3</label></div>
                  <div class="col-md-4"><label>Numri i Telefonit</label></div>
                  <div class="col-md-7"><input name="telefoni_zyrtarit" type="text" class="form-control"></div>
                </div><hr>
                <div class="row">
                  <div class="col-md-1"><label>2.4</label></div>
                  <div class="col-md-4"><label>Numri i Faksit</label></div>
                  <div class="col-md-7"><input name="faksi_zyrtarit" type="text" class="form-control"></div>
                </div><hr>
                <div class="row">
                  <div class="col-md-1"><label>2.5</label></div>
                  <div class="col-md-4"><label>E-mail adresa</label></div>
                  <div class="col-md-7"><input name="adresa_zyrtarit" type="text" class="form-control"></div>
                </div><hr>
                <div class="row">
                  <div class="col-md-1"><label>2.6</label></div>
                  <div class="col-md-4"><label>Numri i ID</label></div>
                  <div class="col-md-7"><input name="id_zyrtarit" type="text" class="form-control"></div>
                </div>
              </div>
            </div>
            <div id="panel-4" class="panel panel-default">
              <div class="panel-heading"><h4>AKTIVITETET TË CILAT NJOFTOHEN/CREGJISTROHEN:</h4></div>
              
              <div class="panel-body">
                
                <div class="row">
                  <div class="col-md-1"><label>Nr.</label></div>
                  <div class="col-md-4"><label>Aktiviteti</label></div>
                  <div class="col-md-7"><label>Lloji</label></div>
                </div><hr>
                <div class="row">
                  <div class="col-md-1"><label>1.</label></div>
                  <div class="col-md-4"><label>Ofrimi i rrjetit publik fiks</label></div>
                  <div class="col-md-7">
                    <div class="row">
                      <div class="col-md-1"><input name="sherbimi_rrjeti_publik" type="checkbox" value="lokal"></div>
                      <div class="col-md-11"><label>Lokal</label></div>
                    </div>
                    <div class="row">
                      <div class="col-md-1"><input name="rrjeti_publik" type="checkbox" value="nacional"></div>
                      <div class="col-md-11"><label>Nacional </label></div>
                    </div>
                    <div class="row">
                      <div class="col-md-1"><input name="rrjeti_publik" type="checkbox" value="tjera"></div>
                      <div class="col-md-11"><label>Tjera (specifikoj)</label></div>
                    </div>
                  </div>
                </div><hr>
                <div class="row">
                  <div class="col-md-1"><label>2.</label></div>
                  <div class="col-md-4"><label>Ofrimi i shërbimeve publike fikse</label></div>
                  <div class="col-md-7">
                    <div class="row">
                      <div class="col-md-1"><input name="sherbimi_fiks_publik" type="checkbox" value="lokal/nacional"></div>
                      <div class="col-md-11"><label> Shërbime telefonike lokale/nacionale</label></div>
                      </div>
                    <div class="row">
                      <div class="col-md-1"><input name="sherbimi_fiks_publik" type="checkbox" value="nderkombetare"></div>
                      <div class="col-md-11"><label>Shërbime telefonike ndërkombëtare </label></div>
                      </div>
                    <div class="row">
                      <div class="col-md-1"><input name="sherbimi_fiks_publik" type="checkbox" value="publik_pagese"></div>
                      <div class="col-md-11"><label>Telefona publik me pagesë</label></div>
                    </div>
                    <div class="row">
                      <div class="col-md-1"><input name="sherbimi_fiks_publik" type="checkbox" value="tjera"></div>
                      <div class="col-md-11"><label> Shërbime tjera (specifikoj)</label></div>
                    </div>
                  </div>
                </div><hr>
                <div class="row">
                  <div class="col-md-1"><label>3.</label></div>
                  <div class="col-md-4"><label>Ofrimi i rrjetit publik mobil</label></div>
                  <div class="col-md-7">
                    <div class="row">
                      <div class="col-md-1"><input type="checkbox"></div>
                      <div class="col-md-11"><label> Lokal</label></div>
                      </div>
                    <div class="row">
                      <div class="col-md-1"><input type="checkbox"></div>
                      <div class="col-md-11"><label>Nacional</label></div>
                    </div>
                  </div>
                </div><hr>
                <div class="row">
                  <div class="col-md-1"><label>4.</label></div>
                  <div class="col-md-4"><label>Ofrimi i shërbimeve publike mobile</label></div>
                  <div class="col-md-7">
                    <div class="row">
                      <div class="col-md-1"><input type="checkbox"></div>
                      <div class="col-md-11"><label> Shërbime telefonike të zërit</label></div>
                      </div>
                    <div class="row">
                      <div class="col-md-1"><input type="checkbox"></div>
                      <div class="col-md-11"><label>Transmetim të dhënash </label></div>
                    </div>
                  </div>
                </div><hr>
                <div class="row">
                  <div class="col-md-1"><label>5.</label></div>
                  <div class="col-md-4"><label>Ofrimi i shërbimeve të linjave me qira</label></div>
                  <div class="col-md-7">
                    <div class="row">
                      <div class="col-md-1"><input type="checkbox"></div>
                      <div class="col-md-11"><label>Fibër optik të pa-ndriçuar</label></div>
                      </div>
                    <div class="row">
                      <div class="col-md-1"><input type="checkbox"></div>
                      <div class="col-md-11"><label>Linja tjera me qira</label></div>
                    </div>
                  </div>
                </div><hr>
                <div class="row">
                  <div class="col-md-1"><label>6.</label></div>
                  <div class="col-md-4"><label>Ofrimi i rrjetave publike me transmetim satelitor</label></div>
                  <div class="col-md-7">
                    <div class="row">
                      <div class="col-md-1"><input type="checkbox"></div>
                      <div class="col-md-11"><label> Ofrimi i rrjetave publike me transmetim satelitor</label></div>
                      </div>  
                  </div>
                </div><hr>
                <div class="row">
                  <div class="col-md-1"><label>7.</label></div>
                  <div class="col-md-4"><label>Ofrimi i shërbimeve publike satelitore</label></div>
                  <div class="col-md-7">
                    <div class="row">
                      <div class="col-md-1"><input type="checkbox"></div>
                      <div class="col-md-11"><label>Ofrimi i shërbimeve publike satelitore</label></div>
                      </div>
                    
                  </div>
                </div><hr>
                <div class="row">
                  <div class="col-md-1"><label>8.</label></div>
                  <div class="col-md-4"><label>Ofrimi i shërbimeve të transmetimit të të dhënave (Internetit)</label></div>
                  <div class="col-md-7">
                    <div class="row">
                      <div class="col-md-1"><input type="checkbox"></div>
                      <div class="col-md-11"><label>Ofrimi i shërbimeve të transmetimit të të dhënave (Internetit)</label></div>
                      </div>
                    
                  </div>
                </div><hr>
                <div class="row">
                  <div class="col-md-1"><label>9.</label></div>
                  <div class="col-md-4"><label>Ofrimi i shërbimeve me vlerë të shtuar</label></div>
                  <div class="col-md-7">
                    <div class="row">
                      <div class="col-md-1"><input type="checkbox"></div>
                      <div class="col-md-11"><label>Ofrimi i shërbimeve me vlerë të shtuar</label></div>
                      </div>
                    
                  </div>
                </div><hr>
              </div>
            </div>
            <div id="panel-5" class="panel panel-default">
              <div class="panel-heading">
                  <h4>PËRSHKRIMI I AKTIVITETIT DHE FAZA E OFRIMIT:</h4>
                 <p class="text-danger">Të jepen përshkrime të detajuara për secilin aktivitet të njoftuar duke specifikuar:</p>
                
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-6">
                    <label>A do të përdoret rrjeti vetanak apo ndonjë rrjet tjetër</label>
                  </div>
                  <div class="col-md-5">
                    <input type="text" class="form-control">
                  </div>
                </div><hr>
                <div class="row">
                  <div class="col-md-6">
                    <label>Teknologjia e cila do të përdoret</label>
                  </div>
                  <div class="col-md-5">
                    <input type="text" class="form-control">
                  </div>
                </div><hr>
                <div class="row">
                  <div class="col-md-6"> 
                    <label>Radio frekuencat, të cilat planifikohen të përdoren</label>
                  </div>
                  <div class="col-md-5">
                    <input type="text" class="form-control">
                  </div>
                </div><hr>
                <div class="row">
                  <div class="col-md-6">
                    <h4>Lista e shërbimeve që planifikohen të ofrohen</h4>
                  </div>
                  <div class="col-md-5">
                    <input type="text" class="form-control">
                  </div>
                </div><hr>
                <div class="row">
                  <div class="col-md-6">
                    <label>Tjera</label>
                  </div>
                  <div class="col-md-5">
                    <input type="text" class="form-control">
                  </div>
                </div><hr>
                <div class="row">
                  <div class="col-md-12">
                    <h4>Faza e Ofrimit </h4>
                    <h6 class="text-danger">Të specifikohet koha e parashikuar për fillimin e aktivitetit të komunikimeve elektronike</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <textarea class="form-control" rows="3"></textarea>
                  </div>
                </div><hr>
              </div>
            </div>
            <div id="panel-6" class="panel panel-default">
              <div class="panel-heading">
                <h4>DOKUMENTET E BASHKANGJITURA:</h4>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-6">

                  </div>
                  <div class="col-md-6">
                    <h5>1. Kopje e certifikatës së regjistrimit të biznesit</h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <h4> Dokumentet e bashkangjitura si shtojcë aplikacionit të Njoftimit</h4>
                  </div>
                  <div class="col-md-6">
                    <h5>2. Kopje e Certifikatës së numrit fiskal</h5>
                    
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">

                  </div>
                  <div class="col-md-6">
                    <h5>3. Kopje e dokumentit ‘Informatë mbi biznesin</h5>
                  </div>
                </div>
              </div>
            </div>
            <div id="panel-7" class="panel panel-default">
              <div class="panel-heading">
                <h4>KONFIRMIMI I NJOFTIMIT:</h4>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-10">
                    <label>Ndërmarrja kërkon që t’i lëshohet certifikata e konfirmimit të njoftimit për ofrimin e rrjeteve dhe/ose shërbimeve publike të komunikimeve elektronike të njoftuara përmes këtij formulari: </label>
                  </div>
                  <div class="col-md-2">
                    <input checked data-toggle="toggle" data-on="E konfirmoj" data-off="Nuk e konfirmoj" data-onstyle="success" data-offstyle="danger" type="checkbox">
                  </div>
                </div>
              </div>
            </div>
            <div id="panel-8" class="panel panel-default">
              <div class="panel-heading"><h4>DETYRIMET LIGJORE</h4>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-1"><input type="checkbox"></div>
                  <div class="col-md-11"><label>Unë nëpërmjet këtij dokumenti deklaroj se do të ushtroj aktivitet në fushën e komunikimeve elektronike të shënuara më sipër dhe aplikoj për regjistrim në regjistrin e ofrueseve të rrjeteve dhe shërbimeve të komunikimeve elektronike të Autoritetit (ARKEP).</label></div>
                </div><hr>
                <div class="row">
                  <div class="col-md-1"><input type="checkbox"></div>
                  <div class="col-md-11"><label>Unë nëpërmjet këtij dokumenti deklaroj se kam mbyllur aktivitetet e komunikimeve elektronike të shënuara më sipër.</label></div>
                </div><hr>
                <div class="row">
                  <div class="col-md-1"><input type="checkbox"></div>
                  <div class="col-md-11"><label>Unë nëpërmjet këtij dokumenti deklaroj se kam mbyllur çdo aktivitet të komunikimeve elektronike nën regjimin e Autorizimit të përgjithshëm.</label></div>
                </div><hr>
                <div class="row">
                  <div class="col-md-1"><input type="checkbox"></div>
                  <div class="col-md-11"><label>Unë nëpërmjet këtij dokumenti deklaroj se të dhënat e mia kanë pësuar ndryshime, sikurse përshkruhen në formular.</label></div>
                </div><hr>
                <div class="row">
                  <div class="col-md-1"><input type="checkbox"></div>
                  <div class="col-md-11 "><label>Unë nëpërmjet këtij dokumenti deklaroj se kam ndryshuar formën ligjore të ndërmarrjes sime siç përshkruhet në formular. Emri i vjetër është si më poshtë;</label></div>
                </div>
              </div>
            </div>
            <div id="panel-9" class="panel panel-default">
              <div class="panel-heading">
                <h4>Hapi i fundit</h4>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12">
                    <label>Unë nëpërmjet këtij dokumenti paraqes në ARKEP të gjithë dokumentacionin e nevojshëm ligjor dhe/ose të gjithë dokumentet që sigurojnë se nënshkruesi i këtij Njoftimi Regjistrimi ka lidhje me personin përfaqësues. Unë deklaroj se informacioni që përfshihet në deklarimin e paraqitur, sikurse çdo informacion tjetër shoqërues , është i saktë dhe i vërtetë, dhe jam plotësisht i vetëdijshëm për faktin që, lidhur me angazhimin në çdo aktivitet të komunikimeve elektronike për të cilin është e nevojshme të sigurosh të drejtën e përdorimit për numeracion dhe frekuenca, të drejta të cilat nuk sigurohen nëpërmjet kësaj procedurë, unë duhet të paraqes një aplikim për të fituar të drejtat e përdorimit të cituara më sipër përpara fillimit të ofrimit të shërbimit.</label>
              
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <input class="btn btn-success" type="button" value="Save">
                  </div>
                </div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    </section>
  </div>
</body>
<footer>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script type=text/javascript src="{{  url_for('static', filename='bootstrap-toggle.js') }}"></script>
  <script type=text/javascript src="{{  url_for('static', filename='jquery.steps.js') }}"></script>
  <script>
  $(document).ready(function(){
    $("#content-wrapper").steps({
    headerTag: ".panel-heading",
    bodyTag: ".panel-body",
    transitionEffect: "slideLeft",
    autoFocus: true
    });
  });


  </script>
</footer>
</html>